<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CreateMOOPDataXSD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CreateMOOPDataXSD.Properties.Settings>
            <setting name="SQLConnect" serializeAs="String">
                <value />
            </setting>
            <setting name="AzureAccount" serializeAs="String">
                <value />
            </setting>
            <setting name="AzureSharedKey" serializeAs="String">
                <value />
            </setting>
            <setting name="ConnectionName" serializeAs="String">
                <value />
            </setting>
            <setting name="UsePost" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cacheablilityType" serializeAs="String">
                <value>nocache</value>
            </setting>
        </CreateMOOPDataXSD.Properties.Settings>
    </userSettings>
</configuration>